<ion-view view-title="Patient's Condition">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Question 1
      </div>
      <div class="item item-text-wrap">
        Question goes here...
        <button class="button">
          Option 1
        </button>
        <button class="button button-secondary">
          Option 2
        </button>
        <button class="button button-danger">
          Option 3
        </button>
        <br/>
      </div>
      <div class="item item-divider">
        <a class="button button-outline icon-right ion-android-arrow-forward button-balanced button-block button-royal">Next</a>
      </div>
    </div>
  </ion-content>
</ion-view>
